BODY {
  background-color: #F0F0FF;
  font-family: sans-serif;
}
BODY > DIV.main {
  border: thin solid black;
  padding: 1em 1em 1em 1em;
  margin-left: 10%;
  margin-right: 20%;
}
FORM > UL > LI { list-style: none; }
FORM > UL > LI > LABEL {
  width: 10%;
  text-align: right;
  display: block;
  float: left;
  padding-right: 0.5em;
}

A { color: #0000AA; }
H1 A { text-decoration: none; }

DIV.ticker { height: 100px; }
IMG.ticker { width: 100px; height: 100px; }
DIV.ticker.imagebox { height: 100px; width: 100px; float: left }

