BODY { background-color: #EEDDFF; font-family: sans-serif; }
BODY > DIV { border: thin solid black; padding-left: 1em; margin-left: 10%; margin-right: 20% }
FORM > UL > LI { list-style: none; }
FORM > UL > LI > LABEL { width: 10%; text-align: right; display: block; float: left; padding-right: 0.5em; }

DIV.ticker { height: 100px; }
IMG.ticker { width: 100px; height: 100px; }
DIV.ticker.imagebox { height: 100px; width: 100px; float: left }
