<h1>Photosets</h1>
<ul>
  <%= link_to "New", photoset_new_url %>
  <% @photosets.each do |set| %>
  <li><%= link_to set.name, manage_photoset_url(set) %> - <%= set.pictures.size %> pictures</li>
  <% end %>
</ul>
